<html>
  <head>
    <title>Spinwheel</title>
    <link rel="stylesheet" href="css/spinwheel.css" type="text/css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <script type="text/javascript" src="Winwheel.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
  </head>
  <body>
    <div id="expire_prize" style="display: none">
      <h2 style="font-size: 28px !important">Bạn đã hết lượt quay thưởng</h2>
      <canvas
        style="display: none"
        id="canvas"
        style="z-index: 1"
        width="426"
        height="434"
        data-responsiveMinWidth="180"
        data-responsiveScaleHeight="true"
      >
      </canvas>
    </div>
    <div id="spin" align="center" style="position: relative">
      <form
        action="/set-up-spin"
        method="POST"
        id="verify"
        class="form-container"
      >
        <input type="text" hidden name="psid" id="psid" />
        <h3>Thông Báo</h3>
        <p style="margin-bottom: 0">Chúc mừng bạn đã trúng 1 phần thưởng:</p>
        <input
          readonly
          id="display_value_spin"
          type="text"
          name="display_value_spin"
          value=""
        />
        <button type="submit" class="btn" onclick="handleSaveBtn();">
          Xác Nhận
        </button>
      </form>

      <table cellpadding="0" cellspacing="0" border="0">
        <tr style="display: flex; flex-direction: column-reverse">
          <td>
            <div
              class="power_controls"
              style="text-align: center; margin-top: 2em"
            >
              <button id="btn_play" onclick="startSpin();">PLAY</button>
            </div>
          </td>
          <td
            width="426"
            height="380"
            class="the_wheel"
            align="center"
            valign="center"
          >
            <div style="position: relative">
              <canvas
                id="canvas"
                style="z-index: 1"
                width="426"
                height="434"
                data-responsiveMinWidth="180"
                data-responsiveScaleHeight="true"
              >
              </canvas>
              <div
                class="triangle-down"
                style="
                  position: absolute;
                  top: -50px;
                  right: 55%;
                  z-index: 9;
                  width: 0;
                  height: 0;
                "
              >
                <img style="z-index: 11111" src="basic_pointer.png" alt="" />
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>

    <script type="text/javascript">
      /*var thiep = "5391060734297620";
      ("<% for(var i=0; i < myDoc.length; i++) { %>");
      if (thiep == "<%= myDoc[i].psid %>") {
        console.log("ok duoc roi");
      }
      ("<% } %>");*/
    </script>

    <script>
      let theWheel = new Winwheel({
        drawMode: "image",
        drawText: true,
        textOrientation: "curved",
        textAlignment: "outer",
        textMargin: 20,
        numSegments: 6,
        outerRadius: 212,
        textFontSize: 16,
        responsive: true,
        segments: [
          { text: "Học\n\n Bổng\n\n 1 Triệu" },
          { text: "Học\n\n Bổng\n\n 500.000đ" },
          { text: "Học\n\n Bổng\n\n 2 Triệu" },
          { text: "MacBook Pro 2020" },
          { text: "Iphone 12 PRM" },
          { text: "Google Pixel 5Xl" },
        ],
        animation: {
          type: "spinToStop",
          duration: 5,
          spins: 6,
          callbackSound: playSound,
          callbackFinished: alertPrize,
        },
      });

      let secondImg = new Image();
      secondImg.onload = function () {
        theWheel.wheelImage = secondImg;
        theWheel.draw();
      };
      secondImg.src = "cb.png";

      let wheelSpinning = false;
      function startSpin() {
        var get_psid = document.getElementById("psid").value;
        ("<% for(var i=0; i < myDoc.length; i++) { %>");
        if (get_psid == "<%= myDoc[i].psid %>") {
          if (wheelSpinning == false) {
            calculatePrize();
            theWheel.animation.spins = 8;
            theWheel.startAnimation();
            wheelSpinning = true;
          }
        } else {
          document.getElementById("spin").style.display = "none";
          document.getElementById("expire_prize").style.display = "block";
        }
        ("<% } %>");
      }

      let audio = new Audio("tick.mp3");
      function playSound() {
        audio.pause();
        audio.currentTime = 0;
        audio.play();
      }

      function resetWheel() {
        theWheel.stopAnimation(false);
        theWheel.rotationAngle = 0;
        theWheel.draw();
        wheelSpinning = false;
      }

      function calculatePrize() {
        let stopAt = 91 + Math.floor(Math.random() * 20);
        theWheel.animation.stopAngle = stopAt;
        theWheel.startAnimation();
      }

      function alertPrize(indicatedSegment) {
        const value = indicatedSegment.text;
        document.getElementById("verify").style.display = "block";
        document.getElementById("display_value_spin").value = value.replace(
          /(\r\n|\n|\r)/gm,
          ""
        );
      }

      (function (d, s, id) {
        var js,
          fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
          return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/messenger.Extensions.js";
        fjs.parentNode.insertBefore(js, fjs);
      })(document, "script", "Messenger");

      window.extAsyncInit = function () {
        MessengerExtensions.getContext(
          "208033644177404",
          function success(thread_context) {
            document.getElementById("psid").value = thread_context.psid;
          },
          function error(err) {
            console.log(err);
          }
        );
      };

      function handleSaveBtn() {
        document.getElementById("verify").style.display = "none";
        MessengerExtensions.requestCloseBrowser(
          function success() {},
          function error(err) {
            console.log(err);
          }
        );
      }
    </script>
  </body>
</html>
